[Desktop Entry]
Name=Pig
Comment=Pig - A Postgres GUI Client
Exec=Pig
Icon=Pig
Type=Application
Categories=Development;Utility;Database;
Terminal=false
StartupWMClass=Pig
MimeType=
Keywords=database;postgresql;
