<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Pig</string>
    <key>CFBundleDisplayName</key>
    <string>Pig</string>
    <key>CFBundleIdentifier</key>
    <string>tech.lury.pig</string>
    <key>CFBundleVersion</key>
    <string>${PIG_VERSION}</string>
    <key>CFBundleShortVersionString</key>
    <string>${PIG_VERSION}</string>
    <key>CFBundleExecutable</key>
    <string>Pig</string>
    <key>CFBundleIconFile</key>
    <string>Pig</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
</dict>
</plist>
